{%load static%}
<!DOCTYPE html>
<head>
    <title> About Us page </title>
    <link rel="stylesheet" type="text/css" href="{% static 'datagenisys/css/about_us.css' %}">
</head>
<body>
    <div>
        <div class="about-us-container">
            <div class="about-us">
                <H1 class="title">Welcome to Data Predictify </H1>
                <p> where the future of data science meets effortless machine learning.<br>
                    At Data Predictify, we simplify the complex by turning your datasets 
                    into powerful predictive models with just a few clicks. <br>
                    Whether you're a researcher, data analyst, or business professional, 
                    our intuitive platform allows you to upload your data and define your target 
                    variable, and we'll handle the rest. Our cutting-edge algorithms and 
                    user-friendly interface ensure you get accurate predictions and insightful 
                    analyses without the need for advanced technical skills. <br>
                    Join us on a journey to unlock the true potential of your data. Empower your decisions, drive innovation, and stay ahead of the curve with DataGenie, where your data’s possibilities are limitless.
                </p>
            </div>
            <input type="checkbox" id="form" class="form" style="display: none;">
            <label for="form" class="dataset-button">Upload Your Dataset </label>
            <div class="upload-form">
                <div class="form-container">
                    <H3>Upload the CSV file </H3>
                    <input type="file" class="style" class="submit-button">
                    <div class="button-container">
                        <input type="submit" value="Submit" class="form-button">
                        <label for="form" class="form-button">Cancel</label>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body> 