{%load static%}
<!DOCTYPE html>
<head>
    <title> Home page </title>
    <link rel="stylesheet" type="text/css" href="{% static 'datagenisys/css/home_page.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="to-top">
        <a href="#nav-bar">
            <span class="material-symbols-outlined">arrow_upward</span>
        </a>
    </div>
    <div class = "main-body">
        <div id="nav-bar">
            <a class="links" href="#overlapping-content"> Upload Dataset </a>
            <a class="links" href="#overview-container"> Dataset Overview </a>
            <a class="links" href="#post-cleanup-overview" > Graphs </a>
            <a class="links" href="#model-container" > Predictive Model</a>
        </div>
        <div class ="home-container">
            <div class="title-container">
                <h1 class="title">
                    <span REFL-LETTER="D" class="letter">D</span>
                    <span REFL-LETTER="A" class="letter">A</span>
                    <span REFL-LETTER="T" class="letter">T</span>
                    <span REFL-LETTER="A" class="letter">A</span>
                    <span class="space"> </span>
                    <span REFL-LETTER="P" class="letter">P</span>
                    <span REFL-LETTER="R" class="letter">R</span>
                    <span REFL-LETTER="E" class="letter">E</span>
                    <span REFL-LETTER="D" class="letter">D</span>
                    <span REFL-LETTER="I" class="letter">I</span>
                    <span REFL-LETTER="C" class="letter">C</span>
                    <span REFL-LETTER="T" class="letter">T</span>
                    <span REFL-LETTER="I" class="letter">I</span>
                    <span REFL-LETTER="F" class="letter">F</span>
                    <span REFL-LETTER="Y" class="letter">Y</span>
                </h1>
            </div>
        </div>
        <div id="overlapping-content">
            <div class="block-conatiner">
                <div class="step-blocks">
                    <span class="material-symbols-outlined">description</span>
                    <p>Upload the Dataset</p>
                </div>
                <div class="step-blocks" style="background:#edaa0c">
                    <span class="material-symbols-outlined">target</span>
                    <p>Define Target Variable </p>
                </div>
                <div class="step-blocks">
                    <span class="material-symbols-outlined">automation</span>
                    <p>Get Predictive Model</p>
                </div>
            </div>
            <div class="about-us">
                <div class="info-block">
                    <H1>Welcome to Data Predictify </H1>
                    <p> where the future of data science meets effortless machine learning.<br>
                        At Data Predictify, we simplify the complex by turning your datasets 
                        into powerful predictive models with just a few clicks. <br>
                        Whether you're a researcher, data analyst, or business professional, 
                        our intuitive platform allows you to upload your data and define your target 
                        variable, and we'll handle the rest. Our cutting-edge algorithms and 
                        user-friendly interface ensure you get accurate predictions and insightful 
                        analyses without the need for advanced technical skills. <br>
                        Join us on a journey to unlock the true potential of your data. Empower your decisions, drive innovation, and stay ahead of the curve with DataGenie, where your data’s possibilities are limitless.
                    </p>
                </div>
                <input type="checkbox" id="form" class="form" style="display: none;">
                <label for="form" class="dataset-button">Upload Your Dataset </label>
                <div class="upload-form">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'get_dataset' %}">
                        {% csrf_token %}
                        <div class="form-container">
                            <H3>Upload the CSV file </H3>
                            <input type="file" name="csvFile" required>
                            <H3>Define your Target Variable</H3>
                            <input type="text" name="targetVariable" class="text-box" placeholder=" Enter Column name here" required>
                            <H3>Numeric Columns Representing Categories</H3>
                            <p style="margin-top:-4% ">Please enter the names of the columns that contain numeric values (e.g., 0, 1, 2, 3) 
                                which represent different categories (e.g., 'Category 1', 'Category 2'). 
                                Separate each column name with a comma.
                                If there are no such columns, please input 'No'.</p>
                            <input type="text" name="categoricalNumeric" class="text-box" placeholder="column1, column5, .." required>
                            <div class="button-container">
                                <input type="submit" value="Submit" class="form-button">
                                <input for="form" type="reset" value="Cancel" class="form-button" onClick="document.getElementById('form').checked = false;"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="overview-container">
            <div class="{% if not got_data or false_target %}initial-overview{%else%}overview{% endif %}">
                {% if false_target %}
                    <p id="overview-text"> The dataset does not contain the target variable you provided. Please check and try again.
                    <br>Note that the target variable name is case sensitive.</p>
                {% elif not got_data %}
                    <p id="overview-text">Dataset overview will be displayed here after you upload your Dataset and specify the Target variable.</p>
                {% else %}
                    <H1>Pre-Processing Data Snapshot</H1>
                    <p>This table provides an overview of the dataset you have uploaded. It includes the following details for each column:</p>
                    <ul>
                        <li>Column Name: The name of the column in the dataset.</li>
                        <li>Data Type: The type of data stored in the column (e.g., integer, float, object).</li>
                        <li>Number of Invalid Values: The count of missing or invalid values in the column.</li>
                    </ul>
                        This information is crucial for building and validating the prediction model. 
                        By understanding the structure and quality of your dataset, we ensure the accuracy and 
                        reliability of the predictions generated by our model. 
                    </p>                    
                    <table border="1">
                        <thead>
                            <tr>
                                <th id="table-cell">Column</th>
                                <th id="table-cell">Data Type</th>
                                <th id="table-cell"> No. of invalid values</th>
            
                            </tr>
                        </thead>
                        <tbody>
                            {% for col, dtype,null_values in data_initial_info %}
                                <tr>
                                    <td id="table-cell">{{ col }}</td>
                                    <td id="table-cell">{{ dtype }}</td>
                                    <td id="table-cell">{{null_values}}</td>
                                </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
        <div id="post-cleanup-overview">
            <div class="{% if not got_data or false_target %}initial-overview{%else%}overview{% endif %}">
                {% if false_target %}
                    <p id="overview-text"> The dataset does not contain the target variable you provided. Please check and try again.
                    <br>Note that the target variable name is case sensitive.</p>
                {% elif not got_data %}
                    <p id="overview-text">Post-Cleanup dataset overview will be displayed here after you upload your Dataset and specify the Target variable.</p>
                {% else %}
                    <H1>Post-Cleanup Dataset Overview </H1>
                    <p>We have successfully cleaned the dataset you uploaded. Below is an overview of the cleaned dataset.
                        This information is crucial for building and validating the prediction model, ensuring the accuracy and reliability of the results.
                        The following steps were taken to prepare the data for accurate and reliable predictions:
                    </p>
                    <ul>
                        {% for cleaning_step in data_cleaning_steps %}
                        <li> {{cleaning_step}} </li> 
                        {% endfor %}
                    </ul>
                    <table border="1">
                        <thead>
                            <tr>
                                <th id="table-cell">Column</th>
                                <th id="table-cell">Data Type</th>
                                <th id="table-cell"> No. of invalid values</th>
                                <th id="table-cell">Show graphs</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for col, dtype,null_values in cleaned_dataset %}
                                <tr>
                                    <td id="table-cell">{{ col }}</td>
                                    <td id="table-cell">{{ dtype }}</td>
                                    <td id="table-cell">{{null_values}}</td>
                                    <td >
                                        <button class="graph-button" data-column="{{ col }}">See Graphs</button>
                                    </td>
                                </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="graph-container" style="display: none;">
                        <button class="graph-close-button">X</button>
                        <div class="graphs-info"></div>
                        <div class="all-graphs"></div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $('.graph-button').click(function() {
                                var column = $(this).data('column');
                                var spinner = $('<span class="material-symbols-outlined" id="spinner">progress_activity</span>'); 
                                button.html(spinner);
                                $.ajax({
                                    url: '{% url "get_graphs" %}',
                                    type: 'POST',
                                    data: {
                                        'column': column,
                                        'df_json': '{{ df_json|escapejs }}',
                                        'Numeric_categorical_columns': '{{ Numeric_categorical_columns|escapejs }}',
                                        'target_variable': '{{target_variable}}',
                                        'correlation_dict':'{{ correlation_dict|escapejs }}',
                                        'csrfmiddlewaretoken': '{{ csrf_token }}' // CSRF token for security
                                    },
                                    success: function(response) {
                                        var graphsHtml1 = '<h2>Graphs for column ' + response.column + '</h2>';
                                        var graphsHtml2 = '';
                                        response.graphs_url.forEach(function(url) {
                                                graphsHtml2 += '<img src="' + url + '" alt="Graph">';});
                
                                        $('.graphs-info').html(graphsHtml1);
                                        $('.all-graphs').html(graphsHtml2);
                                        $('.graph-container').show();
                                        button.html("See Graphs");
                                    },
                                    error: function() {
                                        alert('An error occurred while fetching the graphs.');
                                    }
                                });
                            });
                
                            $('.graph-close-button').click(function() {
                                $('.graph-container').hide();
                            });
                        });
                    </script>  
                {% endif %}
            </div>
        </div>
        <div id="model-container">

        </div>
    </div>
</body> 