{%load static%}
<!DOCTYPE html>
<head>
    <title> Home page </title>
    <link rel="stylesheet" type="text/css" href="{% static 'datagenisys/css/home_page.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">

</head>
<body>
    <div class = "main-body">
    <div class="nav-bar">
        <a class="links" href="#overlapping-content"> Upload Dataset </a>
        <a class="links" href="{% url 'about_us_page' %}"> Predictive Model</a>
        <a class="links" href="{% url 'about_us_page' %}"> Dataset Overview </a>
        <a class="links" href="{% url 'about_us_page' %}"> Graphs </a>
    </div>
    <div class ="home-container">
        <div class="title-container">
            <h1 class="title">
                <span REFL-LETTER="D" class="letter">D</span>
                <span REFL-LETTER="A" class="letter">A</span>
                <span REFL-LETTER="T" class="letter">T</span>
                <span REFL-LETTER="A" class="letter">A</span>
                <span class="space"> </span>
                <span REFL-LETTER="P" class="letter">P</span>
                <span REFL-LETTER="R" class="letter">R</span>
                <span REFL-LETTER="E" class="letter">E</span>
                <span REFL-LETTER="D" class="letter">D</span>
                <span REFL-LETTER="I" class="letter">I</span>
                <span REFL-LETTER="C" class="letter">C</span>
                <span REFL-LETTER="T" class="letter">T</span>
                <span REFL-LETTER="I" class="letter">I</span>
                <span REFL-LETTER="F" class="letter">F</span>
                <span REFL-LETTER="Y" class="letter">Y</span>
            </h1>
        </div>
    </div>
    <div id="overlapping-content">
        <div class="block-conatiner">
            <div class="step-blocks">
                <span class="material-symbols-outlined">description</span>
                <p>Upload the Dataset</p>
            </div>
            <div class="step-blocks">
                <span class="material-symbols-outlined">target</span>
                <p>Define Target Variable </p>
            </div>
            <div class="step-blocks">
                <span class="material-symbols-outlined">automation</span>
                <p>Get Predictive Model</p>
            </div>

        </div>
        <div class="about-us">
            <div class="info-block">
                <H1>Welcome to Data Predictify </H1>
                <p> where the future of data science meets effortless machine learning.<br>
                    At Data Predictify, we simplify the complex by turning your datasets 
                    into powerful predictive models with just a few clicks. <br>
                    Whether you're a researcher, data analyst, or business professional, 
                    our intuitive platform allows you to upload your data and define your target 
                    variable, and we'll handle the rest. Our cutting-edge algorithms and 
                    user-friendly interface ensure you get accurate predictions and insightful 
                    analyses without the need for advanced technical skills. <br>
                    Join us on a journey to unlock the true potential of your data. Empower your decisions, drive innovation, and stay ahead of the curve with DataGenie, where your data’s possibilities are limitless.
                </p>
            </div>
            <input type="checkbox" id="form" class="form" style="display: none;">
            <label for="form" class="dataset-button">Upload Your Dataset </label>
        </div>
    </div>
</div>
</body> 