body{
    background: linear-gradient(135deg, #26024d, #3ed2f7);
    display: flex;
    flex-direction: column;
}

.body-initial{
    height: 100vw;
    overflow: hidden;
}

@keyframes loadFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-us-container,.title,.dataset-button,.upload-form,.model-container{
    opacity: 0;
    animation: loadFromTop 1s ease-out forwards;
}

.about-us-container{
    padding: 2%;
    margin: 2%;
    background-color: #41836d;
    color: white;
    font-size: 1.2vw;
    border-radius: 2vw;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.title{
    color: transparent;
    background: linear-gradient(135deg,#68036b, #f1e6de);
    -webkit-background-clip: text;
    background-clip: text; 
    font-size: 2.5vw;
}

.dataset-button{
    margin: 2%;
    background: linear-gradient(135deg, #40045c, #f5206a);
    height: 5vw;
    width: 50vw;
    border: none;
    border-radius: 2vw;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    line-height: 5vw;
    cursor: pointer;
}

.dataset-button:hover{ 
    box-shadow: 0 0 20px rgb(206, 204, 204); 
}

.upload-form{
    display: none;
    position:fixed;
    top: 10%;
    width: 30vw;
    max-height: 80vh;
    padding: 1%;
    border-radius: 2vw;
    background-color: white;
    color: #26024d;
    border: 0.2vw solid  #640872;
    z-index: 10000;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.text-box{
    height: 2vw ;
    border-radius: 1vw;
    font-size: 1vw;
    padding: 0.5vw;
    width: 20vw;
}



.form-button{
    margin: 1vw;
    padding: 0.7vw;
    width: 10vw;
    font-size: 1.1vw;
    background: linear-gradient(135deg, #40045c, #f5206a);
    border: none;
    border-radius: 1.5vw;
    color: white;
    text-align: center;
    cursor: pointer;
}

.form-button:hover{ 
    box-shadow: 0 0 20px black; 
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#form:checked+.dataset-button + .upload-form {
    display: block;
}

#form:checked+.dataset-button+.form-button {
    display: block;
}

.model-container{
    padding: 2%;
    margin: 2%;
    color: white;
    display: flex;
    font-size: 1.2vw;
    flex-direction: column;
    z-index: -1;
}

.model-container-initial{
    padding: 2%;
    margin: 2%;
    color: white;
    display: flex;
    font-size: 1.2vw;
    flex-direction: column;  
    justify-content:center;
    align-items:center;
}



.input-button{
    background:  #f4f3f3;
    color: #26024d;
}


th,tr,td{
    padding:0.5vw;
}

graph-cell{
    justify-content: center;
    padding:0.5vw;
}

.graph-button{
    width: 100%;
    font-size: 1.1vw;
    padding: 0.7vw;
    background: linear-gradient(135deg, #0b0379, #b0aceb);
    border: none;
    border-radius: 1.5vw;
    color: white;
    text-align: center;
    cursor: pointer;
}


.graph_container{
    display: none;
    position:fixed;
    top: 10%;
    width: 60vw;
    max-height: 80vh;
    padding: 1%;
    border-radius: 2vw;
    background-color: white;
    color: #26024d;
    z-index: 10000;
}

input[type="checkbox"]:checked + label + .graph_container {
    display: block; /* Show the container when checkbox is checked */
}
